@using HelpDeskApplication.Application.ApplicationUser.Queries;
@using HelpDeskApplication.Application.Ticket.Commands.CreateTicket;
@using MediatR;


@model CreateTicketCommand
@inject IMediator mediator


<h1>Create Ticket</h1>

<hr />


<div class="row">
    <div class="col-md-4">
        <form action="/Ticket/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="Title">Title</label>
                <input class="form-control" type="text" asp-for="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Priority">Priority level</label>
                <select id="Priority" name="Priority" class="form-select" aria-label=".form-select-lg example">
                    <option value="">-- Select Priority --</option>

                    @foreach (var priority in Enum.GetValues(typeof(HelpDeskApplication.Domain.Entities.PriorityLevel)))
                    {
                        <option value="@priority">@priority</option>
                    }
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="AssignedToId">Assigned Technician</label>
                <select id="AssignedToId" name="AssignedToId" class="form-select" aria-label=".form-select-lg example">
                    <option value="">-- Choose a technician --</option>

                    @foreach (var technician in await mediator.Send(new GetAllTechniciansQuery()))
                    {
                        <option value="@technician.Id ">@technician.UserName</option>
                    }
                </select>
                <span asp-validation-for="AssignedToId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary">
                |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}