@using HelpDeskApplication.Application.Ticket


@model TicketDto
<h1>Create Ticket</h1>

<hr />


<div class="row">
    <div class="col-md-4">
        <form action="/Ticket/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="Title">Title</label>
                <input class="form-control" type="text" asp-for="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}